{
  "openapi": "3.0.0",
  "info": {
    "title": "YouTube MP3 Downloader API",
    "description": "API to download YouTube videos in high-quality MP3 format with limitless concurrency and auto-retry anti-ban protection.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://youtube-mp3-downloader-fast-stable.p.rapidapi.com",
      "description": "Production RapidAPI Server"
    }
  ],
  "paths": {
    "/api/yt/download": {
      "get": {
        "summary": "Convert and Download YouTube to MP3",
        "description": "This endpoint accepts a YouTube video URL or ID and converts it to an MP3, returning the metadata and direct download URL.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "YouTube video URL or Video ID",
            "schema": {
              "type": "string",
              "example": "https://youtu.be/dQw4w9WgXcQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "title": { "type": "string" },
                        "duration": { "type": "integer" },
                        "thumbnail": { "type": "string" },
                        "channel": { "type": "string" }
                      }
                    },
                    "download_url": {
                      "type": "string",
                      "example": "https://youtube-mp3-downloader-fast-stable.p.rapidapi.com/downloads/uuid.mp3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (URL parameter missing)"
          },
          "500": {
            "description": "Internal Server Error or Rate Limit"
          }
        }
      }
    }
  }
}
